main {
  margin: 5rem auto;
  width: 64rem;
  height: 64rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;

}

p {
  margin: 5rem auto;
  width: 64rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: helvetica,sans-serif;
  font-weight: bold;
}

div {

  background-color: lightblue;

}

.mol {

  background-image: url("src/mol.jpg");
  background-position: center;

}
